@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Witaj w Panelu Administratora!</h1>
    <h4><a asp-page="Login">Zaloguj się</a>.</h4>
    <h6>lub</h6>
    <h4><a asp-page="Register">Zarejestruj konto</a>.</h4>
</div>
